%li
  .complete
    - unless task.status?
      = link_to "Complete",  complete_project_task_path(@project, task.id), method: :patch
    - else
      = link_to "UnComplete",  uncomplete_project_task_path(@project, task.id), method: :patch
  .task-name
    %p
      = task.name
      .task-edit-form
        = form_for task, url: project_task_path(@project,   task.id), action: :update, method: :patch, html: { id: "edit-comment-#{task.id}", class: 'hidden' } do |f|
          .comment-form-and-button
            = f.text_area :name, class: "form-control", placeholder: true, required: "required", id: "task-name-#{task.id}"
            = f.submit "Reply", class: "btn btn-primary"
  .crud
    %button.toggle.btn.btn-primary{"aria-controls" => "edit-comment-#{task.id}"}
      - if true
        Edit
      -else
        Cancel
    .delete
      = button_to 'Delete', project_task_path(@project, task.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"


