.projects
  .header
    %p To do list User.name
    = render 'form'

  - @projects.each do |project|
    .project
      .project-header
        .project-name
          %h2= project.name
          = form_for project, html: { id: "edit-project-#{project.id}", class: 'hidden' }  do |f|
            = f.text_field :name
            = f.submit "Save", class: "btn btn-success"
        .project-buttons
          = link_to 'Edit', "#", class: "btn btn-primary toggle", "aria-controls" => "edit-project-#{project.id}"
          = link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
      %ul.todo_tasks
        = render partial: project.tasks.order('status DESC, name'), locals: { project: project }
        #form
          = render partial: "tasks/form", locals: { project: project }
