-# %h1 Listing projects

-# - @projects.each do |project|
-#   %p= link_to project.name, project
-# %br

-# = link_to 'New Project', new_project_path


%p#notice= notice

= link_to 'New Project', new_project_path, class: "btn btn-success"

- @projects.each do |project|
  %tr
    %h1
      = project.name
      = link_to 'Edit', edit_project_path(project), class: "btn btn-primary"
      = link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
  %ul#todo_tasks
    = render partial: project.tasks.order('status DESC, name'), locals: { project: project }
    #form
      = render partial: "tasks/form", locals: { project: project }
